{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% block greetings %}
<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-6 px-0">
        <div class="row">
            <div class="col-md-9">
                <h1 class="display-4 fst-italic">This is {{ post.author }}'s post</h1>
                <p class="lead my-3">{{ post.author.bio }}</p>
                <p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold">Read about {{ post.author }}</a></p>
            </div>
            <div class="col-md-3">
                <img src="{{ post.author.pfp.url }}" style="width: 25vh; height: 100%;">
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block content %}
<div class="col md-9">
    <div class="row">
        <div class="col">
            <div class="card">
                <p class="card-text m-3"><small class="text-muted">Posted: {{ post.date_created }}</small></p>
                {% for image in post.images.all %}
                <img src="{{ image.image.url }}" class="card-img-top" alt="{{ post.title }}">
                {% endfor %}
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content }}</p>
                    <p class="card-text"><small class="text-muted">Author: {{ post.author.username }}</small></p>
                    <p class="card-text"><small class="text-muted">Last Updated: {{ post.date_updated|naturaltime }}</small></p>
                    <p class="card-text">Likes: {{ post.like_count }} Dislikes: {{ post.dislike_count }} Comments: {{ post.comments_count }}</p>

                    <!-- Display categories associated with the post -->
                    <p class="card-text">Categories:
                        {% for category in post.cats.all %}
                        <a href="#">{{ category.title }}</a>
                        {% endfor %}
                    </p>
                </div>
            </div>

            <!-- Comment Section -->
            <div class="mt-4">
                <h2>Comments</h2>
                <ul class="list-group">
                    {% for comment in comments %}
                    <li class="list-group-item">
                        <p><strong>{{ comment.author.username }}</strong> said:</p>
                        <p>{{ comment.text }}</p>
                    </li>
                    {% endfor %}
                </ul>
                <form action="{% url 'comment' post.slug %}" method="post">
                    {% csrf_token %}
                    {{ form.text }}
                    <button type="submit" class="btn btn-primary mt-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
